<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <title>Upload files</title>
  </head>

  <body>
    <button
      id="firstRequest"
      hx-get="http://localhost:1330"
      hx-target="#target1"
    >
      First req
    </button>

    <button
      id="secondrequest"
      hx-post="http://localhost:1330/message"
      hx-target="#target2"
      hx-sync="#firstRequest:replace"
    >
      Second req
    </button>

    <div id="target1"><b>Target 1</b></div>
    <div id="target2"><b>Target 2</b></div>
  </body>
</html>
